<a href="https://colab.research.google.com/github/rahulmukati67/ML_LAB/blob/main/List_Comprehension_CS3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = [i for i in range(15) i*2]
x

SyntaxError: ignored

In [ ]:
a = [4,6,7,3,2]
b = [x*2 for x in a if x > 5]
b

[12, 14]

In [ ]:
my_list = [2, 5, 8, 11, 15]
new_list = [x*2 if x < 10 else x+1 for x in my_list]
print(new_list)

[4, 10, 16, 12, 16]

In [ ]:
my_list = [i for i in range(1, 30) if i%2==0 if i%5==0]
print(my_list)

[10, 20]

In [ ]:
names = ['Ch','Dh','Eh','cb','Tb','Td']
new_names = [name for name in names if name.lower().startswith('c')]
new_names

['Ch', 'cb']

In [ ]:
new_list = [num * 2 for num in range(5)]
new_list

[0, 2, 4, 6, 8]

In [ ]:
new_list = [num for num in range(50) if  num > 20 and num % 2 == 0]
new_list

[22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [ ]:
fave_language_chars = [letter for letter in "Python"]
fave_language_chars

['P', 'y', 't', 'h', 'o', 'n']

In [ ]:
'''
Find all of the numbers from 1-1000 that are divisible by 7
'''
new_list = [num for num in range(1,1000) if num % 7 == 0]
new_list

In [ ]:
'''
Find all of the numbers from 1-1000 that have a 3 in them
'''
new_list = [num for num in range(1,1000) if '3' in  str(num)]
new_list

In [ ]:
'''
Count the number of spaces in a string
'''
some_string = 'the slow solid squid swam sumptuously through the slimy swamp'

new_list = [s for s in some_string if s== ' '  ]
print(len(new_list))

9

In [ ]:
'''
Create a list of all the consonants in the string "Yellow Yaks like yelling and yawning and yesturday they yodled while eating yuky yams"
'''
sentence = "Yellow Yaks like yelling and yawning and yesturday they yodled while eating yuky yams"
v = ['a' , 'e' , 'i' , 'o' , 'u' , ' ' ] 
new_list = [letter for letter in sentence if letter not in v  ]
print(new_list)

['Y', 'l', 'l', 'w', 'Y', 'k', 's', 'l', 'k', 'y', 'l', 'l', 'n', 'g', 'n', 'd', 'y', 'w', 'n', 'n', 'g', 'n', 'd', 'y', 's', 't', 'r', 'd', 'y', 't', 'h', 'y', 'y', 'd', 'l', 'd', 'w', 'h', 'l', 't', 'n', 'g', 'y', 'k', 'y', 'y', 'm', 's']

In [ ]:
'''
 Get the index and the value as a tuple for items in the list ["hi", 4, 8.99, 'apple', ('t,b','n')].  Result would look like [(index, value), (index, value)]
 '''
items = ["hi", 4, 8.99, 'apple', ('t,b','n')]
r = [(i, j) for i,j in enumerate(items)]
print(r)

[(0, 'hi'), (1, 4), (2, 8.99), (3, 'apple'), (4, ('t,b', 'n'))]

In [ ]:
'''
Find the common numbers in two lists (without using a tuple or set) list_a = [1, 2, 3, 4], list_b = [2, 3, 4, 5]
'''
a = [1, 2, 3, 4]
b = [2, 3, 4, 5]
new_list = [num for num in a if num in b  ]

new_list

[2, 3, 4]

In [ ]:
'''
Get only the numbers in a sentence like 'In 1984 there were 13 instances of a protest with over 1000 people attending'.  Result is a list of numbers like [3,4,5]
'''
sentence = 'In 1984 there were 13 instances of a protest with over 1000 people attending'
words = sentence.split()
r = [i for i in  words if not i.isalpha()]
r

['1984', '13', '1000']

In [ ]:
'''
Produce a list of tuples consisting of only the matching numbers in these lists list_a = [1, 2, 3,4,5,6,7,8,9], list_b = [2, 7, 1, 12].  Result would look like (4,4), (12,12)
'''
a = [1, 2, 3,4,5,6,7,8,9]
b = [2, 7, 1, 12]

[]
[]

In [ ]:
'''Find all of the words in a string that are less than 4 letters'''
sentence = 'On a summer day somner smith went simming in the sun and his red skin stung'
word = sentence.split()